.pagination-container {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-top: 20px;
}

.pagination-btn {
  border: 2px solid #c20330;
  background-color: transparent;
  color: #c20330;
  padding: 6px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.2s;
}

.pagination-btn-ctrl{
    border: 0px;
  background-color: #c20330;
  color: #ffffff;
  padding: 9px 16px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.2s;
}

.pagination-btn:hover:not([disabled]) {
  background-color: #c20330;
  color: white;
}

.pagination-btn.active {
  background-color: #c20330;
  color: white;
  border-color: #c20330;
}

.pagination-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
