<div class="success-wrapper">
  <div class="success-card">
    <div class="icon-box">
      <div class="circle">
        ✓
      </div>
      <span class="dot d1"></span>
      <span class="dot d2"></span>
      <span class="dot d3"></span>
      <span class="dot d4"></span>
    </div>

    <h2>Thank you for ordering!</h2>
    <p>Your order has been placed successfully.</p>
    <!-- <p>Your Order Id is {{order.id}}.</p> -->

    <div class="btn-group">
      <button class="btn outline" routerLink="/orders">
        View Order
      </button>

      <button class="btn solid" routerLink="/">
        Continue Shopping
      </button>
    </div>

  </div>
</div>
