<div class="row g-3 align-items-end justify-content-end mb-3">
 
 
           <div  class="py-3 fs-4 " *ngIf="pageItem" > 
                <span class="fw-bold">
                {{pageItem}}
                </span>
                  Product-Found</div>
  <!-- Show Dropdown -->
  <div class="col-md-3">
    <label for="sortSelect" class="form-label">Show</label>
    <select class="form-select custom-select"
            [value]="itemToShow"
            (change)="itemToShowChange($event)">
      <option *ngFor="let option of sortOptions" [value]="option">{{ option }}</option>
    </select>
  </div>

  <!-- Sort By Dropdown -->
  <div class="col-md-3">
    <label for="featuredSelect" class="form-label">Sort By</label>
    <select class="form-select custom-select"
            [value]="sortBy"
            (change)="sortByChange($event)">
      <option *ngFor="let option of featuredOptions" [value]="option.value">{{ option.name }}</option>
    </select>
  </div>
</div>
