<div class="login-wrapper d-flex align-items-center justify-content-center">
  <div class="login-card">

    <h3 class="login-title">Register</h3>

    <form [formGroup]="registerForm" (ngSubmit)="submitLogin()">

      <!-- Username -->
      <div class="input-group">
        <input type="text" class="custom-input" formControlName="userName" placeholder=" " />
        <label>Username</label>
        <div class="error-text"
          *ngIf="registerForm.get('userName')?.touched && registerForm.get('userName')?.hasError('required')">
          Username is required
        </div>
      </div>

      <!-- Email -->
      <div class="input-group">
        <input type="email" class="custom-input" formControlName="email" placeholder=" " />
        <label>Email</label>
        <div class="error-text"
          *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.invalid">
          Valid email required
        </div>
      </div>

      <!-- Password -->
      <div class="input-group">
        <input type="password" class="custom-input" formControlName="password" placeholder=" " />
        <label>Password</label>
        <div class="error-text"
          *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.hasError('required')">
          Password is required
        </div>
        <div class="error-text"
          *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.hasError('minlength')">
          Minimum 6 characters
        </div>
      </div>

      <!-- Remember Me -->
      <div class="d-flex justify-content-between align-items-center mb-4">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" formControlName="remember" id="remember" />
          <label class="form-check-label" for="remember">Remember me</label>
        </div>
        <a href="#" class="login-link">Forgot?</a>
      </div>

      <!-- Submit Button -->
      <button type="submit" class="btn btn-login w-100" >
        Create Account
      </button>

      <!-- Redirect -->
      <p class="text-center mt-4 mb-0">
        Already have an account? 
        <a href="#" class="login-link fw-semibold" routerLink="../login">Login</a>
      </p>

    </form>

  </div>
</div>
