<main class="main">
    <!--==================== HOME ====================-->
    <section class="home section--lg">
        <div class="home__container container grid">
            <div class="home__content">
                <span class="home__subtitle">Hot promotions</span>
                <h1 class="home__title">
                    Fashion Trending <span>Great Collection</span>
                </h1>
                <p class="home__description">
                    Save more with coupons & up to 20% off
                </p>
                <button href="shop.html" class="btn-Own">Shop Now</button>
            </div>

            <img 
                src="assets/home-ig.mpng" 
                alt="Fashion trending collection" 
                class="home__img" 
            />
        </div>
    </section>


<section class="categories container section">
  <h3 class="section__title fw-bold">
    <span style="color: var(--first-color);">Popular</span> Categories
  </h3>

  <div class="slider-wrapper">
    <!-- LEFT -->
    <button class="slide-btn left " (click)="scrollLeft()">
<i class="fa-solid fa-chevron-left"></i>
    </button>

    <!-- SLIDER -->
  <div class="categories-slider" #slider>
  <div
    class="category__item"
    *ngFor="let item of ListCategory"
  >
    <img
      [src]="
        item.image?.imageUrl
          ? baseImageUrl + item.image?.imageUrl
          : 'assets/category-1.jpg'
      "
      alt="category"
    />
<div class="catagory__title">
    {{ item.name }}
</div>
  </div>
</div>

    <!-- RIGHT -->
    <button class="slide-btn right" (click)="scrollRight()" *ngIf="ListCategory.length>6">
<i class="fa-solid fa-chevron-right"></i>
    </button>
  </div>
</section>
<section class="newsletter section home__newsletter">
  <div class="newsletter__container container grid">
    <h3 class="newsletter__title">
      <img 
        src="assets/img/icon-email.svg" 
        alt="newsletter_icon" 
        class="newsletter__icon"
      />
      Sign up to Newsletter
    </h3>

    <p class="newsletter__description">
      ...and receive $25 coupon for first shopping.
    </p>

    <form action="" class="newsletter__form">
      <input 
        type="text" 
        placeholder="Enter your email" 
        class="newsletter__input"
      />
      <button type="submit" class="newsletter__button">Subscribe</button>
    </form>
  </div>
</section>




</main>